<form (submit)="createNewTask()">
<div class="container collapse bg-log align" id="collapseExample1">
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="email" placeholder="E-mail">
  </div>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" placeholder="Password">
  </div>
  <div class="btn-group open">
    <button class="btn btn-primary" href="#" type="submit"><i class="fa fa-user fa-fw"></i> Sign in</button>
  </div>
</div>
</form>

