<div class="">
  <form class="d-flex" role="form">
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;" for="pref-perpage">I need a</label>
      <select id="pref-perpage" class="form-control">
        <option value="2">Educator</option>
        <option value="3">Stylist/Colourist</option>
        <option value="4">Assistant</option>
      </select>
    </div> <!-- form group [rows] -->
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;">Job location</label>
      <select id="pref-perpage-2" class="form-control">
        <option value="2">Educator</option>
        <option value="3">Stylist/Colourist</option>
        <option value="4">Assistant</option>
      </select>
    </div><!-- form group [search] -->
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;">Skills Required</label>
      <select id="pref-perpage-3" class="form-control">
        <option value="2">Educator</option>
        <option value="3">Stylist/Colourist</option>
        <option value="4">Assistant</option>
      </select>
    </div> <!-- form group [order by] -->
    <div class="form-group filter-col">
      <label><input type="checkbox"> Remember parameters</label>
      <div class="filter-col">
        <button type="button" class="btn btn-danger" style="margin: 0; height: 35px">Filter</button>

      </div>
    </div>
  </form>


</div>
