<div class="">
  <form class="d-flex" role="form">
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;" for="pref-perpage">I need a</label>
      <select id="pref-perpage" class="form-control">
        <option value="2">Educator</option>
        <option value="3">Stylist/Colourist</option>
        <option value="4">Assistant</option>
      </select>
    </div> <!-- form group [rows] -->
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;">Job location</label>
      <select id="pref-perpage-2" class="form-control" (change)="filterByLoc()">
        <option value="Sydney">Sydney</option>
        <option value="Melbourne">Melbourne</option>
        <option value="">Brisbane</option>
        <option value="">Perth</option>
        <option value="">Adelaide</option>
        <option value="">Gold Coast</option>
        <option value="">Newcastle</option>
        <option value="">Canberra</option>
      </select>
    </div><!-- form group [search] -->
    <div class="form-group">
      <label class="filter-col" style="margin-right:0;">Skills Required</label>
      <select id="pref-perpage-3" class="form-control">
        <option value="">Advanced Colouring</option>
        <option value="">Colour Correction</option>
        <option value="">Hair Painting</option>
        <option value="">Bridal</option>
      </select>
    </div> <!-- form group [order by] -->
  </form>


</div>
<!--<div (click)="onclick()"><button>Click Me</button></div>-->
