<div class="container hwidth">
  <p>HOW IT WORKS</p>
</div>
<div class="row contaner">
  <div class="col-sm-5 col-md-4 pts">
    <img src="../../assets/images/home_cover/find-practitioners.png" alt="" class="img1">
    <p class="hwidth">FIND</p>
  </div>
  <div class="col-sm-5 col-md-4 pts">
    <img src="../../assets/images/home_cover/59a634220b832.image.png" alt="">
    <p class="hwidth">BOOK</p>
  </div>
  <div class="col-sm-5 col-md-4 pts">
    <img src="../../assets/images/home_cover/message.png" alt="">
    <p class="hwidth">REVIW</p>
  </div>
</div>




