img{
  height: 250px;
  width: 250px;
  padding-top: 20px;
}

.img1{
  height: 250px;
  width: 300px;
  padding-top: 20px;
}

.hwidth{
  padding-top: 20px;
  color: #FFFFFF;
}

h1{
  color: white;
}

.inline{
  margin: 0;
}
