<div class="col-sm-5 col-md-4 pts">
  <div class="feature-box">
    <img class="img" src="../../assets/images/hs1.png">
    <h1>Search</h1><br/>
    <p>Search for beauty & wellness salons in your area</p>
  </div>
</div> <!-- End Col -->
<div class="col-sm-5 col-md-4 pts">
  <div class="feature-box">
    <img class="img" src="../../assets/images/hs2.png">
    <h1>Book</h1><br/>
    <p>Search for beauty & wellness salons in your area </p>
  </div>
</div> <!-- End Col -->

<div class="col-sm-5 col-md-4 pts">
  <div class="feature-box">
    <img class="img" src="../../assets/images/hs3.png">
    <h1>Enjoy</h1><br/>
    <p>Search for beauty & wellness salons in your area </p>
  </div>
</div>



