<div class="container collapse bg-log align" id="collapseExample2">
  <br>
  <div class="input-group margin-bottom-sm" >
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Full Name">
  </div>
  <br>
  <div class="input-group margin-bottom-sm" >
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Email address">
  </div>
  <br>
  <div class="input-group margin-bottom-sm" >
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" placeholder="Password">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" type="password" placeholder="Confirm Password">
  </div>

  <div class="btn-group open">
    <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i> Register</a>
  </div>
</div>
