
<div class="container">
  <div class="row panel">
    <div class="col-md-4 bg_blur ">
      <a href="#" class="follow_btn hidden-xs">Follow</a>
    </div>
    <div class="col-md-8  col-xs-12">
      <img src="../../assets/images/profile_img.png" class="img-thumbnail picture hidden-xs" />
      <img src="" class="img-thumbnail visible-xs picture_mob" />
      <div class="header">
        <h1>{{name}}</h1>
        <h4>Web Developer</h4>
        <span>Claire Mason the colour Queen of Perth. Claire and her hand selected and exceptionally trained team have built a solid reputation and social media presence
          by the amazing colour trends.</span>
      </div>
    </div>
  </div>

  <div class="row nav">
    <div class="col-md-4"></div>
    <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
      <div class="col-md-4 col-xs-4 well">$ {{usd}}</div>
      <div class="col-md-4 col-xs-4 well">{{count}}</div>
      <div class="col-md-4 col-xs-4 well"> 26</div>
    </div>
  </div>
</div>
