
<div class="container">
  <article class="search-result row">
    <div class="col-xs-12 col-sm-12 col-md-3">
      <a href="" class="thumbnail">
        <!--<img src="../../assets/images/profile_img.png"/>-->
        <img src="data:image/jpg;base64,{{profile_pic}}" class="pro_img">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2">
      <ul class="meta-search" style="font-size: 20px">
        <li><i class="glyphicon glyphicon-usd"></i> <span> {{mrng_cost}}</span><span> (Morning)</span></li>
        <li><i class="glyphicon glyphicon-usd"></i> <span> {{evng_cost}}</span><span> (Evening)</span></li>
        <li><i class="glyphicon glyphicon-home"></i><span>  {{address}}</span></li>
        <li><i class="glyphicon glyphicon-earphone"></i><span>  {{telephone}}</span></li>
      </ul>
      <ngb-rating [(rate)]="rating" [readonly]="true" max="5" class="star full"></ngb-rating>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
      <h3>{{first_name}} {{last_name}}</h3>
      <p>{{description}}</p>
      <span><strong>Specialized in</strong></span><br>
      <div class="d-flex" >
      <span class="badge badge-light m-1" *ngFor="let allskill of skills">{{allskill}}</span>
      </div>
      <hr>
    </div>
  </article>

</div>

<div class="container">
  <app-calendar></app-calendar>
  <app-hairstylist-profile-pics></app-hairstylist-profile-pics>
</div>






