<div class="container text-center">
  <div class="col-md-12 background-cover">
    <div class="banner-heading ">
      <h2>Book a hair educator, stylist, colourist or assistant</h2>
      <P>We care about your hair and your well being</P>
      <div>
        <input type="text" class="  search-query form-control" placeholder="Search"/>
        <span class="input-group-btn">
          <button class="btn btn-primary site-btn" type="button" routerLink="search">
            FIND HERE
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
