<div>
  <section class="pr-availability-calendar">
            <div class="col-md-12">
              <h2 class="pr-h2-tag">Choose your sessions</h2>
            </div>
            <div>
              <table>
                <tr>
                  <td><i class="fa fa-square b1" aria-hidden="true"></i></td>
                  <td><p>Busy</p></td>
                </tr>
                <tr>
                  <td><i class="fa fa-square b2" aria-hidden="true"></i></td>
                  <td><p>Selected</p></td>
                </tr>
                <tr>
                  <td><i class="fa fa-square b3" aria-hidden="true"></i></td>
                  <td><p>Available</p></td>
                </tr>
              </table>
            </div>
          <div class="pr-cal-box panel panel-default text-center">
              <div class="panel-heading pr-cal-heading">
                <div ng2-carouselamos
                     [items]="day"
                     [width]="1000"
                     [$prev]="prev"
                     [$next]="next"
                     [$item]="item">
                </div>

                <ng-template class="pr-cal-head-left" #prev>
                  <button class="btn btn-default pr-btn-calendar">
                    <i class="fa fa-caret-left"></i>
                  </button>
                </ng-template>
                    <div class="pr-cal-date">
                      <ng-template #item>
                        <!--<div style="min-width: 200px;" class="items" *ngFor="let date of days__">-->
                          <!--<div >-->
                            <!--<button class="w3-button" (click)="toggleShow(date.date)" *ngIf="date.date.format('D') != 10">-->

                              <!--<div>-->
                                <!--&lt;!&ndash;Hidden and show when Select those dates&ndash;&gt;-->
                                <!--<button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot1, 'btn-NotAvailable': date.date.format('D') === '10'}" [disabled]="date.date.format('D') === '10'">Booked</button>-->
                                <!--<button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot2, 'btn-NotAvailable': date.date.format('D') === '12'}" [disabled]="date.date.format('D') === '12'">Booked</button>-->
                              <!--</div>-->
                              <!--<span class="pr-day pr-month">-->
                                <!--{{date.date.format('MMMM')}}<br>-->
                              <!--</span>-->
                              <!--<span class="pr-date">-->
                                <!--{{date.date.format('D')}}<br>-->
                              <!--</span>-->
                              <!--<span class="pr-day">-->
                                <!--{{date.date.format('dddd')}}<br>-->
                              <!--</span>-->
                            <!--</button>-->
                          <!--</div>-->
                        <!--</div>-->

                        <div style="min-width: 200px;" class="items" *ngFor="let date of days__">
                          <div >
                            <button class="w3-button" (click)="toggleShow(date.date)">
                              <div>
                                <!--Hidden and show when Select those dates-->
                                <!--<button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot1, 'btn-NotAvailable': date.date.format('D') === '10'}" [disabled]="date.date.format('D') === '10'">Booked</button>-->
                                <!--<button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot2, 'btn-NotAvailable': date.date.format('D') === '12'}" [disabled]="date.date.format('D') === '12'">Booked</button>-->

                                <button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot1 , 'btn-NotAvailable': date.alreadyBooked1}">Booked</button>
                                <button type="button" class="w3-width-book-slot" [ngClass]="{'btn-clicked': selectedDate && date.showSlot2 , 'btn-NotAvailable': date.alreadyBooked2}">Booked</button>
                              </div>
                              <span class="pr-day pr-month">
                                {{date.date.format('MMMM')}}<br>
                              </span>
                              <span class="pr-date">
                                {{date.date.format('D')}}<br>
                              </span>
                              <span class="pr-day">
                                {{date.date.format('dddd')}}<br>
                              </span>
                            </button>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                <ng-template class="pr-cal-head-right" #next>
                  <button class="btn btn-default pr-btn-calendar">
                    <i class="fa fa-caret-right"></i>
                  </button>
                </ng-template>
              </div>
              <div>
                <div class="pr-cal-body" *ngFor="let date of days__">
                  <div class="container slot toggle-panel" *ngIf="selectedDate && selectedDate === date.date">
                    <div>
                      <button type="button" class="w3-button-slot w3-width"
                              [ngClass]="{'btn-clicked': selectedDate && selectedDate===date.date && date.showSlot1}"
                              (click)="slotShow1(date) ; makeBooking1() ; totalAmount()">8PM - 12PM
                      </button>
                    </div>
                    <br>
                    <div>
                      <button type="button" class="w3-button-slot w3-width"
                              [ngClass]="{'btn-clicked': selectedDate && selectedDate===date.date && date.showSlot2}"
                              (click)="slotShow2(date) ; makeBooking2(); totalAmount()">1PM - 5PM
                      </button>
                    </div>
                      <br>
                      <!--<div class="tab-row">-->
                        <!--<label>Your Session Dates are :</label>-->

                          <!--<div class="cell"  *ngFor="let bdate of sessionDate"><label>{{bdate}}</label></div>-->
                          <!--<div class="cell" *ngFor="let sCost of slotCost"><label>{{sCost}}</label></div>-->

                      <!--</div>-->

                    <table>
                      <tr>
                        <td><div class="cell" *ngFor="let bdate of sessionDate"><label>{{bdate}}</label></div></td>
                        <td><div class="cell" *ngFor="let sCost of slotCost"><label>AUD  {{sCost}}</label></div></td>
                      </tr>
                      <hr>
                      <tr>
                        <td><div class="cell"><strong>Total Amount :</strong></div></td>
                        <td><div class="cell"><strong>AUD  {{total}}</strong></div></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td><button type="button" class="btn btn-success" routerLink="/paypal/">Book Now</button></td>
                      </tr>
                      <br>
                    </table>

                    <!--<div>-->

                      <!--<label>Total Amount : {{total}}</label>-->
                      <!--&lt;!&ndash;<button (click)="totalAmount()">Click Here</button>&ndash;&gt;-->
                      <!--<div>-->

                      <!--</div>-->
                    <!--</div>-->

                  </div>
                </div>
              </div>
            </div>
  </section>
</div>
