<div>
  <section class="pr-availability-calendar">
    <div class="container pr-no-padding-container">
      <div>
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <h2 class="pr-h2-tag">Choose your sessions</h2>
            </div>
          </div>
          <div class="pr-cal-guide-boxes container">
            <div class="">
              <table>
                <tr>
                  <td><i class="fa fa-square b1" aria-hidden="true"></i></td>
                  <td><p>Busy</p></td>
                </tr>
                <tr>
                  <td><i class="fa fa-square b2" aria-hidden="true"></i></td>
                  <td><p>Selected</p></td>
                </tr>
                <tr>
                  <td><i class="fa fa-square b3" aria-hidden="true"></i></td>
                  <td><p>Available</p></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="pr-cal-box panel panel-default text-center">
            <div class="pr-cal-month">
              <div class="panel-heading pr-cal-heading">
                <div ng2-carouselamos
                   [items] = "items"
                   [width]="1000"
                   [$prev]="prev"
                   [$next]="next"
                   [$item]="item">
                </div>

                <ng-template class="pr-cal-head-left" #prev>
                  <button class="btn btn-default pr-btn-calendar">
                    <i class="fa fa-caret-left"></i>
                  </button>
                </ng-template>
                <div class="pr-cal-head-mid">
                  <div class="pr-cal-dates">
                    <div class="pr-cal-date">
                      <ng-template let-item let-i="index" #item>
                        <div style="min-width: 200px;" class="items" *ngFor="let date of day">
                          <div>
                            <button class="w3-button" (click)="toggleShow()">
                              <span class="pr-day pr-month">
                                {{date.format('MMMM')}}<br>
                              </span>
                                  <span class="pr-date">
                                {{date.format('D')}}<br>
                              </span>
                                  <span class="pr-day">
                                {{date.format('dddd')}}<br>
                              </span>
                          </button>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
                <ng-template class="pr-cal-head-right" #next>
                  <button class="btn btn-default pr-btn-calendar">
                    <i class="fa fa-caret-right"></i>
                  </button>
                </ng-template>
              </div>
              <div class="panel-body pr-cal-body">
                <div class="container slot toggle-panel" *ngIf="show">
                  <div><button type="button" class="w3-button-slot w3-width">8PM - 12PM</button></div>
                  <br>
                  <div><button type="button" class="w3-button-slot w3-width">1PM - 5PM</button></div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
